
   
body{
    background-image:url(Background.png) ;
    background-size: cover;
}
img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
h1.title {
    font-size: 100px;
    color: rgb(129, 158, 76);
            text-align: center;
     text-decoration: wavy;       

}
h1.title-dips{
    font-size: 35px;
    color: white;
            text-align: center;
            text-shadow: 5px 5px 10px rgb(151, 231, 171);
}
#lala {
    text-decoration: none;
    color: black;
}
div#tribute-data {
    background-color: white;
    box-shadow: 20px 20px 20px black;
    font-family: Georgia;
    padding: 25px 25px;
    margin: 11px;
    margin-top: 50px;
}